:root {
    --main-game-color: #DB504A;
    --main-game-deactive-color: rgb(150, 57, 54);
    --main-gear-color: rgb(23, 108, 134);
    --main-gear-deactive-color: #084C61;

    --main-background-color: #f5f7f8af;
    --main-banner-color: #f8f5f5c4;
    --main-tab-color:#ffffff;
    --main-left-tab-color: #ffffff;
    --main-indicator-color: #292929;
  }

#logo{
    height: 100px;
    width: 500px;
}

body{
    font-family: roboto;
    /* background-image: url("am0pzVo2_700w_0.jpg"); */
    background-color: var(--main-background-color);
}

.description{
    float: right;
}


#banner{
    width: 100%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    align-content: center;
    background-color: var(--main-banner-color);
    /* color: white; */
}

#toolbar{
    right: 20px;
    position: absolute;
    top: 65px;
}

#toolbar button{
    float: right;
}


.tabIndicatorHolder{
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.tabIndicatorHolder > div{
    width: 100%;
    height: 50px;
    float: left;    
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px gray;
    /* border: 2px solid rgb(54, 54, 54); */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;
}


.gameTabIndicator{
    background-color: var(--main-game-deactive-color);
}

.gameTabIndicator-active{
    background-color: var(--main-game-color);
}

.gearTabIndicator{
    background-color: var(--main-gear-deactive-color);
}

.gearTabIndicator-active{
    background-color: var(--main-gear-color);
}


.indicatorIndicator{
    font-size: x-large;
    margin-right: 10px;
}

.tabIndicatorHolder > div:hover{
    color: yellow;
}

.tabIndicatorHolder > div:hover{
 cursor: pointer;
 box-shadow: none;
}

.tabUtilities{
    padding: 10px;
    text-align: right;
    padding-right: 3.7%;
}

.tabUtilities .tabTitle{
    float: left;
    font-size: x-large;
    font-weight: bold;
    padding-left: 45px;
}
.tabUtility{
    margin-left: 20px;
}

.tabUtility input, .tabUtility select{
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    height: 25px;
}
#tabToolbarOverlay{
    width: 80%;
    position: absolute;
    padding-left: 10px;
}

#tabToolbar{
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    visibility: hidden;
    border-radius: 5px;
}

#tabToolbar button{
    width: 50%;
    float: right;
    outline: none;
    border: none;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
    font-size: 16px;
    cursor: pointer;
}
    
.tabIndicator > a{
    color: inherit;
    position: absolute;
    right: 5px;
}

.tabIndicator > a:hover{
    color: white;
}



.tabIndicator:first-child a, .tabIndicator:nth-child(2) a{
    visibility: hidden;
}


#mainContent{
    width: 100%;
    margin-bottom: 20px;
    height: 650px;
    float: left;
}

.left-content{
    height: 100%;
    width: 22%;
    float: left;
    box-sizing: border-box;
    background-color: var(--main-left-tab-color);
    margin-top: 2px;
    border-right: 2px solid var(--main-background-color);
}


.right-content{
    width: 78%;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.tabContentHolder{
    width: 100%;
    height: 100%;
    float: left;
    color: black;
} 

.tab{
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
    background-color:  var(--main-tab-color);
    padding: 20px;
    box-sizing: border-box;
}


.itemListHolder{
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /* border: 2px dashed yellow;   */
    text-align: center;
}

.itemList{
    width: 100%;
    height: fit-content;
    float: left;
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item:nth-child(1), .item:nth-child(2){
    width: 340px;
}

.item{
    margin: 10px;
    width: 160px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px gray;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    /* flex-grow: 1; */
}

.gameList  .item:hover{
    border: 2px solid var(--main-game-color);
}

.gearList  .item:hover{
    border: 2px solid var(--main-gear-color);
}

.item > .itemImg{
    width: 100%;
    height: 120px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

.item > .itemImg > img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.item > .itemImg > .imgHelper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.item > .btnCompare{
    position: absolute;
    visibility: visible;
    right: -21px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    display: inline;
}

.btnCompare > .icon{
    position: absolute;
    font-weight: bold;
    width: 80px;
    height: 24px;
    top: -15px;
    padding-top: 15px;
    box-sizing: content-box;
    border-bottom: 2px solid lightgray;
}

.btnCompare > .tri{
    position: absolute;
    font-weight: bold;
    border: solid 28px;
    outline: 2px solid lightgray;
    transform: rotate(-30deg);
    top: -43px;
    right: -38px;
}

.item:hover > .btnCompare{
    right:80px;
  }

.gameList .btnCompare > .icon, .game{
    background-color: var(--main-game-color);
}

.gearList .btnCompare > .icon, .gear{
    background-color: var(--main-gear-color);
}

.gameList .btnCompare > .tri{
    border-color: transparent transparent var(--main-game-color) var(--main-game-color);   
}

.gearList .btnCompare > .tri{
    border-color: transparent transparent var(--main-gear-color) var(--main-gear-color);
}

#compareTab{
    width: 100%;
    height: 100px;
    position: fixed;
    border: 2px solid rgb(54, 54, 54);
    background-color: white;
    bottom: -100px;
}

#cmpTypeHolder{
    display: flex;
}

#cmpTypeHolder #btnCompare{
    width: 10%;
}

.cmpItemImg{
    width: 100px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

.cmpItemImg>img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.cmpItemImg>.imgHelper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.typeHolder{
    margin :10px;
    width: 97%;
    height: 100%;
    display: flex;
    grid-gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    transition: 1s ease;
    scroll-behavior: smooth;
}

#cmpLeft{
    width: 45%;
    height: 100%;
    position: relative;
}

#cmpRight{
    width: 45%;
    height: 100%;
    position: relative;
}
.cmpGame{
    border: 2px solid var(--main-game-color);
    text-align: center;
}
.cmpGear{
    border: 2px solid var(--main-gear-color);
    text-align: center;
}

#btnHideCompareTab{
    width: 100px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -30px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
}

.cmpItem{
    position: relative;
    margin-left: 10px;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeIn 0.3s ease forwards;
}

.cmpItem-remove{
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeOut 0.3s ease-out forwards;
}
.cmpItem-remove-first{
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeOutFist 0.3s ease-out forwards;
}


@keyframes fadeIn {
    from {
        opacity:0.3;
        width: 5px;
    }
	to {
        opacity:1.0;
        width: 100px;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
        width: 100px;
        margin-left: 10px;
    }
	to {
        opacity:0.3;
        width: 0;
        margin-left: 0;
    }
}

@keyframes fadeOutFist {
    from {
        opacity:1;
        width: 100px;
    }
	to {
        opacity:0.3;
        width: 0;
    }
}


.cmpItem:first-child{
    margin-left: auto;
}
.cmpItem:last-child{
    margin-right:auto;
}

.removeCmpItemButton{
    position: absolute;
    right: 1px;
}

#gameCompareHolder{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border: 2px solid black;
}
#gearCompareHolder{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    float: right;
    border: 2px solid black;
}

#compareStatScreen{
    width: 57%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border: 2px solid black;
    margin-left: 1.5%;
}
.cmpScreenItem{
    width: 100%;
    position: relative;
}

.cmpScreenItem .cmpItemImg{
    width: 100%;
}

#cmpTypeHolder{
    height: 80px;
    width: 100%;
}

.mover{
    width: 30px;
    height: 30px;
    z-index: 100;
    visibility: hidden;
    border-radius: 20px;
    color: white;
    border: none;
    margin: 30px 10px 0 10px;
    cursor: pointer;
    outline: none;
}

#cmpLeft .mover{
    background-color: var(--main-game-deactive-color);
}
#cmpLeft .mover:hover{
    background-color: var(--main-game-color);
}

#cmpRight .mover{
    background-color: var(--main-gear-deactive-color);
}
#cmpRight .mover:hover{
    background-color: var(--main-gear-color);
}

.left{
    position: absolute;
    left: 0;
}

.right{
    position: absolute;
    right: 10px;
    top: 0;
}
.btnLoadMore{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: large;
    box-shadow: 2px 2px gray;
}

.btnLoadMore:hover{
    box-shadow: none;
}

.gameList .btnLoadMore{
    background-color: var(--main-game-color);
}

.gearList .btnLoadMore{
    background-color: var(--main-gear-color);
}

#btnCompare{
    outline: none;
    border: none;
    color: white;
    background-color: rgb(54, 54, 54);
    margin-top: 15px;
    font-size: large;
    cursor: pointer;
}

#compareScreen{
    width: 60%;
    height: 600px;
    min-width: 500px;
    background-color: white;
    border: 2px solid rgb(54, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s ease,opacity 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
}
#compareScreen>#closeCompareScreen{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: large;
    cursor: pointer;
}
