:root {
    --main-game-color: rgb(233, 34, 34);
    --main-game-deactive-color:rgb(134, 0, 0);
    --main-gear-color: #1565C0;
    --main-gear-deactive-color: rgb(35, 54, 112);;
  }

body{
    font-family: roboto;
}

#banner{
    width: 100%;
    float: left;
}

#toolbar{
    right: 20px;
    position: absolute;
    top: 65px;
}

#toolbar button{
    float: right;
}


.tabIndicatorHolder{
    width: 70%;
    float: left;
}

.tabIndicatorHolder > div{
    width: fit-content;
    height: 30px;
    float: left;    
    color: white;
    padding:0 5px 0 5px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(54, 54, 54);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
}

.tabIndicatorHolder > div:hover{
 cursor: pointer;
}

.tabUtilities{
    padding: 10px;
    text-align: right;
}

.tabToolbar{
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.tabToolbar button{
    float: right;
    outline: none;
    border: 2px solid rgb(54, 54, 54);
    border-bottom: none;
    width: fit-content;
    height: 30px;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
    font-size: 16px;
}
.tabToolbar button:first-child{
    border-left: none;
}

.tabIndicator > a{
    float: right;
    color: inherit;
    margin-left: 20px;
}

.tabIndicator > a:hover{
    color: white;
}

.gameTabIndicator{
    background-color: var(--main-game-deactive-color);
}

.gameTabIndicator-active{
    background-color: var(--main-game-color);
}

.gearTabIndicator{
    background-color: var(--main-gear-deactive-color);
}

.gearTabIndicator-active{
    background-color: var(--main-gear-color);
}

#mainContent{
    width: 100%;
    margin-bottom: 20px;
    height: 630px;
    float: left;
}

.tabContentHolder{
    width: 100%;
    height: calc(100% - 20px);
    float: left;
    border-top: 2px solid black;    
} 

.tab{
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
}


.itemListHolder{
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /* border: 2px dashed yellow;   */
    text-align: center;
}

.itemList{
    width: 100%;
    height: fit-content;
    float: left;
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.item{
    margin: 10px;
    width: 160px;
    height: 240px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px gray;
    transition: 0.5s;
    border-radius: 2px;
    overflow: hidden;
}

.gameList  .item:hover{
    border: 2px solid var(--main-game-color);
}

.gearList  .item:hover{
    border: 2px solid var(--main-gear-color);
}

.item > .itemImg{
    width: 100%;
    height: 160px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

.item > .itemImg > img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.item > .itemImg > .imgHelper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.item > .btnCompare{
    position: absolute;
    visibility: visible;
    right: -21px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    display: inline;
}

.btnCompare > .icon{
    position: absolute;
    font-weight: bold;
    width: 80px;
    height: 24px;
    top: -15px;
    padding-top: 15px;
    box-sizing: content-box;
    border-bottom: 2px solid lightgray;
}

.btnCompare > .tri{
    position: absolute;
    font-weight: bold;
    border: solid 28px;
    outline: 2px solid lightgray;
    transform: rotate(-30deg);
    top: -43px;
    right: -38px;
}

.item:hover > .btnCompare{
    right:80px;
  }

.gameList .btnCompare > .icon, .game{
    background-color: var(--main-game-color);
}

.gearList .btnCompare > .icon, .gear{
    background-color: var(--main-gear-color);
}

.gameList .btnCompare > .tri{
    border-color: transparent transparent var(--main-game-color) var(--main-game-color);   
}

.gearList .btnCompare > .tri{
    border-color: transparent transparent var(--main-gear-color) var(--main-gear-color);
}

#compareTab{
    width: 100%;
    height: 100px;
    position: fixed;
    border: 2px solid rgb(54, 54, 54);
    background-color: white;
    bottom: -100px;
}

#cmpTypeHolder{
    display: flex;
}

#cmpTypeHolder #btnCompare{
    width: 10%;
}

.cmpItemImg{
    width: 100px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

.cmpItemImg>img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.cmpItemImg>.imgHelper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.typeHolder{
    margin :10px;
    width: 97%;
    height: 100%;
    display: flex;
    grid-gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    transition: 1s ease;
    scroll-behavior: smooth;
}

#cmpLeft{
    width: 45%;
    height: 100%;
    position: relative;
}

#cmpRight{
    width: 45%;
    height: 100%;
    position: relative;
}
.cmpGame{
    border: 2px solid var(--main-game-color);
    text-align: center;
}
.cmpGear{
    border: 2px solid var(--main-gear-color);
    text-align: center;
}

#btnHideCompareTab{
    width: 100px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -30px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
}

.cmpItem{
    position: relative;
    margin-left: 10px;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeIn 0.3s ease forwards;
}

.cmpItem-remove{
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeOut 0.3s ease-out forwards;
}
.cmpItem-remove-first{
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation:fadeOutFist 0.3s ease-out forwards;
}


@keyframes fadeIn {
    from {
        opacity:0.3;
        width: 5px;
    }
	to {
        opacity:1.0;
        width: 100px;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
        width: 100px;
        margin-left: 10px;
    }
	to {
        opacity:0.3;
        width: 0;
        margin-left: 0;
    }
}

@keyframes fadeOutFist {
    from {
        opacity:1;
        width: 100px;
    }
	to {
        opacity:0.3;
        width: 0;
    }
}


.cmpItem:first-child{
    margin-left: auto;
}
.cmpItem:last-child{
    margin-right:auto;
}

#removeCmpItemButton{
    position: absolute;
    right: 1px;
}

#cmpTypeHolder{
    height: 80px;
    width: 100%;
}

.mover{
    width: 30px;
    height: 30px;
    z-index: 100;
    visibility: hidden;
    border-radius: 20px;
    color: white;
    border: none;
    margin: 30px 10px 0 10px;
    cursor: pointer;
    outline: none;
}

#cmpLeft .mover{
    background-color: var(--main-game-deactive-color);
}
#cmpLeft .mover:hover{
    background-color: var(--main-game-color);
}

#cmpRight .mover{
    background-color: var(--main-gear-deactive-color);
}
#cmpRight .mover:hover{
    background-color: var(--main-gear-color);
}

.left{
    position: absolute;
    left: 0;
}

.right{
    position: absolute;
    right: 10px;
    top: 0;
}
.btnLoadMore{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.gameList .btnLoadMore{
    background-color: var(--main-game-color);
}

.gearList .btnLoadMore{
    background-color: var(--main-gear-color);
}

#btnCompare{
    outline: none;
    border: none;
    color: white;
    background-color: rgb(54, 54, 54);
    margin-top: 15px;
    font-size: large;
    cursor: pointer;
}

#compareScreen{
    width: 60%;
    height: 600px;
    min-width: 500px;
    background-color: white;
    border: 2px solid rgb(54, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s ease,opacity 0.3s ease;
}
#compareScreen>#closeCompareScreen{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: large;
    cursor: pointer;
}
