:root {
    --main-game-color: #DB504A;
    --main-game-deactive-color: rgb(150, 57, 54);
    --main-gear-color: rgb(23, 108, 134);
    --main-gear-deactive-color: #084C61;

    --main-game-indicator: linear-gradient(105deg, var(--main-game-deactive-color) 60%, rgba(0, 0, 0, 0) 40%), linear-gradient(105deg, var(--main-game-color) 85%, rgb(94, 40, 39) 15%);
    --main-game-indicator-active: linear-gradient(105deg, rgb(255, 249, 251) 60%, rgba(0, 0, 0, 0) 40%), linear-gradient(105deg, var(--main-game-color) 85%, rgb(255, 251, 245) 15%);

    --main-gear-indicator: linear-gradient(105deg, var(--main-gear-deactive-color) 60%, rgba(0, 0, 0, 0) 40%), linear-gradient(105deg, var(--main-gear-color) 85%, #243548 15%);
    --main-gear-indicator-active: linear-gradient(105deg, #f2f8ff 60%, rgba(0, 0, 0, 0) 40%), linear-gradient(105deg, var(--main-gear-color) 85%, #f2f8ff 15%);

    --main-game-title: linear-gradient(105deg, var(--main-game-deactive-color) 38%, rgba(0, 0, 0, 0) 38%), linear-gradient(105deg, var(--main-game-color) 40%, rgb(94, 40, 39) 40%);
    --main-gear-title: linear-gradient(105deg, var(--main-gear-deactive-color) 38%, rgba(0, 0, 0, 0) 38%), linear-gradient(105deg, var(--main-gear-color) 40%, #243548 40%);

    --main-background-color: rgba(147, 150, 149, 0.81);
    --main-banner-color: rgba(38, 37, 37, 0.82);
    --main-tab-color: rgba(255, 255, 255, 0.21);
    --main-left-tab-color: rgba(255, 255, 255, 0.21);
    --main-indicator-color: #292929;
    --main-cmp-tab-color: rgba(25, 25, 25, 0.82);

    --cmp-main-background-color: rgba(255, 255, 255, 0.84);
    --cmp-game-background-color: rgba(150, 57, 54, 0.56);
    --cmp-gear-background-color: rgba(8, 76, 97, 0.56);
    --cmp-screen-background-color: rgba(255, 255, 255, 0.61);

    --cmp-game-item-background: linear-gradient(55deg, rgb(255, 249, 251) 80%, rgba(0, 0, 0, 0) 50%), linear-gradient(55deg, var(--main-game-color) 90%, rgb(255, 249, 251) 10%);
    --cmp-gear-item-background: linear-gradient(55deg, #f2f8ff 80%, rgba(0, 0, 0, 0) 50%), linear-gradient(55deg, var(--main-gear-color) 90%, #f2f8ff 10%);

    --main-login-background-game: linear-gradient(105deg, rgba(0, 0, 0, 0) 60%, var(--main-game-color) 60%), linear-gradient(105deg, rgba(0, 0, 0, 0) 5%, #f2f8ff 5%);
    --main-login-background-gear: linear-gradient(105deg, rgba(0, 0, 0, 0) 60%, var(--main-gear-color) 60%), linear-gradient(105deg, rgba(0, 0, 0, 0) 5%, #f2f8ff 5%);

    --main-login-panel-game: linear-gradient(90deg, var(--main-game-deactive-color) 15%, var(--main-game-color) 15%);
    --main-login-panel-gear: linear-gradient(90deg, var(--main-gear-deactive-color) 15%, var(--main-gear-color) 15%);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.09);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #656565;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#logo {
    height: 100px;
    width: 500px;
}

body {
    font-family: roboto;
    /*background-image: url("725611.jpg");*/
    background-color: var(--main-background-color);
}

#background {
    position: absolute;
    width: 100%;
    filter: opacity(50%);
    overflow: hidden;
    height: 730px;
}

.description {
    float: right;
}

#banner {
    width: 21%;
    border-radius: 0 5px 0 0;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    align-content: center;
    background-color: var(--main-banner-color);
    color: white;
    margin-top: 5px;
    height: 49px;
    position: absolute;
}

#toolbar {
    right: 20px;
    position: absolute;
    top: 65px;
}

#toolbar button {
    float: right;
}

.tabIndicatorHolder {
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 10px;
}

.tabIndicatorHolder > div {
    width: 100%;
    height: 50px;
    float: left;
    /*color: white;*/
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;
    transition: 0.2s;
}

.gameTabIndicator {
    background: var(--main-game-indicator);
    color: white;
}

.gameTabIndicator-active {
    background: var(--main-game-indicator-active);
    color: var(--main-game-color);
}

.gearTabIndicator {
    background: var(--main-gear-indicator);
    color: white;
}

.gearTabIndicator-active {
    background: var(--main-gear-indicator-active);
    color: var(--main-gear-color);
}

#tabToolbarOverlay {
    color: white;
}

.indicatorIndicator {
    font-size: x-large;
    margin-right: 10px;
}

.tabIndicatorHolder > div:hover {
    color: yellow;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: none;
}

.tabUtilities {
    padding: 10px;
    text-align: right;
    padding-right: 25.7%;
    color: white;
    border-radius: 5px 0 0 0;
}

.tabUtility {
    margin-left: 20px;
}

.gameUti {
    background: var(--main-game-title);
}

.gearUti {
    background: var(--main-gear-title);
}

.tabUtility input, .tabUtility select {
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    height: 25px;
    background-color: white;
    padding-left: 5px;
}

.tabNameContent {
    float: left;
}

.tabNameContent .tabTxtName {
    font-size: larger;
    padding-left: 10px;
    position: absolute;
    padding-top: 4px;

}

.tabNameContent .tabTxtNameIcon {
    font-size: xx-large;
    padding-left: 10px;
}

#tabToolbarOverlay {
    width: 80%;
    position: absolute;
    padding-left: 10px;
}

#tabToolbar {
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    visibility: hidden;
    border-radius: 5px;
}

#tabToolbar button {
    width: 50%;
    float: right;
    outline: none;
    border: none;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-family: roboto;
    font-size: 16px;
    cursor: pointer;
}

.tabIndicator > a {
    color: inherit;
    position: absolute;
    right: 5px;
    font-size: 21px;
    top: 14px;
}

.tabIndicator > a:hover {
    color: white;
}

.tabIndicator:first-child a, .tabIndicator:nth-child(2) a {
    visibility: hidden;
}

#mainContent {
    width: 100%;
    margin-bottom: 20px;
    height: 700px;
    float: left;
}

.left-content {
    height: fit-content;
    width: 21%;
    float: left;
    box-sizing: border-box;
    background-color: var(--main-left-tab-color);
    margin-top: 2px;
    border-right: 2px solid transparent;
    border-radius: 0 0 5px 0;
    position: absolute;
    top: 53px;
    min-height: 400px;
}

.right-content {
    width: 78%;
    float: left;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 5px;
    background-color: var(--main-tab-color);
    border-radius: 5px 0 0 5px;
}

.tabContentHolder {
    width: 100%;
    height: 100%;
    float: left;
    color: black;
}

.tab {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
    /*padding: 20px;*/
    box-sizing: border-box;
}

.itemListHolder {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* border: 2px dashed yellow;   */
    text-align: center;
}

.itemList {
    width: 100%;
    height: fit-content;
    float: left;
    grid-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4), .item:nth-child(5) {
    width: 340px;
}

.item {
    margin: 8px;
    width: 160px;
    height: 200px;
    box-sizing: border-box;
    border: 1.5px solid lightgray;
    padding: 5px;
    position: relative;
    box-shadow: 3px 2px rgba(128, 128, 128, 0.51);
    transition: 0.5s;
    border-radius: 5px;
    background-color: white;
    font-size: 1vw;
    overflow: hidden;
}

.btnDetail {
    position: absolute;
    font-size: larger;
}

.btnDetail:hover {
    cursor: pointer;
}

.itemName {
    max-height: 18.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .itemTags {
    bottom: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
    position: absolute;
}

.itemTags .itemTag {
    background-color: var(--main-game-color);
    color: white;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
}

.gameList .item:hover {
    border: 1.5px solid var(--main-game-color);
}

.gearList .item:hover {
    border: 1.5px solid var(--main-gear-color);
}

.gameList .btnDetail {
    color: var(--main-game-color);
}

.gearList .btnDetail {
    color: var(--main-gear-color);
}

.item > .itemImg {
    width: 100%;
    height: 120px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.imgHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item > .btnCompare {
    position: absolute;
    visibility: visible;
    right: -21px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    display: inline;
}

.btnCompare > .icon {
    position: absolute;
    font-weight: bold;
    width: 80px;
    height: 24px;
    top: -15px;
    padding-top: 15px;
    box-sizing: content-box;
    border-bottom: 2px solid lightgray;
}

.btnCompare > .tri {
    position: absolute;
    font-weight: bold;
    border: solid 28px;
    outline: 2px solid lightgray;
    transform: rotate(-30deg);
    top: -43px;
    right: -38px;
}

.item:hover > .btnCompare {
    right: 80px;
}

.gameList .btnCompare > .icon, .game {
    background-color: var(--main-game-color);
}

.gearList .btnCompare > .icon, .gear {
    background-color: var(--main-gear-color);
}

.gameList .btnCompare > .tri {
    border-color: transparent transparent var(--main-game-color) var(--main-game-color);
}

.gearList .btnCompare > .tri {
    border-color: transparent transparent var(--main-gear-color) var(--main-gear-color);
}

#compareTab {
    width: 100%;
    height: 100px;
    position: fixed;
    border: 2px solid rgb(54, 54, 54);
    background-color: var(--main-cmp-tab-color);
    bottom: -100px;
}

#cmpTypeHolder {
    display: flex;
}

#cmpTypeHolder #btnCompare {
    width: 10%;
}

.cmpItemImg {
    width: 100px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    display: inline-table;
}

.cmpItemImg > img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.cmpItemImg > .imgHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.typeHolder {
    width: 100%;
    height: 100%;
    display: flex;
    grid-gap: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    position: relative;
    transition: 1s ease;
    padding: 5px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#cmpLeft {
    width: 45%;
    height: 100%;
    position: relative;
}

#cmpRight {
    width: 45%;
    height: 100%;
    position: relative;
}

.cmpGame {
    border: 2px solid var(--main-game-color);
    text-align: center;
}

.cmpGear {
    border: 2px solid var(--main-gear-color);
    text-align: center;
}

#btnHideCompareTab {
    width: 100px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -30px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
    border-radius: 0 5px 0 0;
    padding-left: 10px;
}

.cmpItem {
    position: relative;
    margin-left: 10px;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 0.3s ease forwards;
    background-color: white;
    border-radius: 4px;
}

.cmpItem-remove {
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation: fadeOut 0.3s ease-out forwards;
}

.cmpItem-remove-first {
    position: relative;
    transition: 1s;
    text-align: center;
    overflow: hidden;
    animation: fadeOutFist 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
        width: 5px;
    }
    to {
        opacity: 1.0;
        width: 100px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        width: 100px;
        margin-left: 10px;
    }
    to {
        opacity: 0.3;
        width: 0;
        margin-left: 0;
    }
}

@keyframes fadeOutFist {
    from {
        opacity: 1;
        width: 100px;
    }
    to {
        opacity: 0.3;
        width: 0;
    }
}

.cmpItem:first-child {
    margin-left: auto;
}

.cmpItem:last-child {
    margin-right: auto;
}

.removeCmpItemButton {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    color: white;
    border-radius: 0 0 0 5px;
}

.removeCmpItemButton:hover {
    cursor: pointer;
}

.cmpGame .removeCmpItemButton {
    background-color: var(--main-game-color);
}

.cmpGear .removeCmpItemButton {
    background-color: var(--main-gear-color);
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 10px;
    top: 0;
}

.btnLoadMore {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: large;
    /*box-shadow: 2px 2px gray;*/
}

.btnLoadMore:hover {
    box-shadow: none;
}

.gameList .btnLoadMore {
    background-color: var(--main-game-color);
}

.gearList .btnLoadMore {
    background-color: var(--main-gear-color);
}

#btnCompare {
    outline: none;
    border: none;
    color: white;
    background-color: rgb(54, 54, 54);
    margin: 15px;
    font-size: large;
    cursor: pointer;
}

#compareScreen {
    width: 80%;
    height: 600px;
    min-width: 500px;
    background-color: var(--cmp-main-background-color);
    border: 2px solid rgb(54, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
}

#compareScreen > #closeCompareScreen {
    position: absolute;
    right: 0;
    top: 0;
    font-size: large;
    cursor: pointer;
    color: white;
    width: 20px;
    height: 20px;
    background: black;
    text-align: center;
    border-radius: 0 0 0 5px;
}

#gameCompareHolder {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    background-color: var(--cmp-game-background-color);
    overflow-y: scroll;
    padding: 10px 0 10px 10px;
}

#gearCompareHolder {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    float: right;
    border-radius: 5px;
    background-color: var(--cmp-gear-background-color);
    overflow-y: scroll;
    padding: 10px 0 10px 10px;
}

#compareStatScreen {
    width: 67%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    margin-left: 1.5%;
    padding: 10px;
    padding-top: 50px;
    border-radius: 5px;
    background-color: var(--cmp-screen-background-color);
}

.cmpScreenItem {
    width: 100%;
    position: relative;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 7px;
    border-radius: 4px;
    color: white;
}

.cmpScreenItem:hover {
    cursor: pointer;
}

#gameCompareHolder .cmpScreenItem {
    background: var(--main-game-deactive-color);
}

#gearCompareHolder .cmpScreenItem {
    background: var(--main-gear-deactive-color);
}

#gameCompareHolder .cmpItemActive {
    color: var(--main-game-color);
    background: var(--cmp-game-item-background);
}

#gearCompareHolder .cmpItemActive {
    color: var(--main-gear-color);
    background: var(--cmp-gear-item-background);
}

.cmpScreenItem .cmpItemImg {
    width: 100%;
}

#cmpTypeHolder {
    height: 100%;
    width: 100%;
}

#gameCmpData {
    width: 20%;
    height: 100%;
    float: left;
}

#gearCmpData {
    width: 20%;
    height: 100%;
    float: right;
}

#gameCmpData div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
}

#gearCmpData div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
}

#cmpResult {
    width: 57%;
    height: 100%;
    float: left;
    margin-left: 1.5%;
    overflow-x: hidden;
}

#switchCmpMode {
    position: absolute;
    top: 20px;
}

#switchCmpMode button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-size: large;
    height: 30px;
    width: 100px;
    background-color: var(--main-game-color);
}

#switchCmpMode button:disabled,
#switchCmpMode button[disabled] {
    background-color: #cccccc;
    color: gray;
}

.meterGame {
    width: 50%;
    height: 100%;
    float: left;
}

.meterGear {
    width: 50%;
    height: 100%;
    float: left;
}

.scoreBarHolder {
    margin-bottom: 10px;
    height: 20%;
}

.scoreBarHolder .scoreBar {
    height: 30%;
    /*margin-top: 4%;*/
}

.meterGame .scoreProcess {
    background-color: var(--main-game-color);
    float: right;
}

.meterGear .scoreProcess {
    background-color: var(--main-gear-color);
    float: left;
}

.meterGame .scoreBar {
    /*background-color: var(--main-game-color);*/
    float: right;
}

.meterGear .scoreBar {
    /*background-color: var(--main-gear-color);*/
    float: left;
}

.score {
    width: 100%;
    height: 19.2px;
}

.scoreProcess {
    width: 100%;
    height: 50%;
}

.meterGame .score {
    color: var(--main-game-color);
    text-align: left;
}

.meterGear .score {
    color: var(--main-gear-color);
    text-align: right;
}

.scoreBar {
    transition: .6s;
}

#userIndicator {
    margin: 20px;
    margin-bottom: 15px;
    width: 24.5%;
    height: 44px;
    padding: 17px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    color: var(--main-game-deactive-color);
    background: var(--main-login-background-game);
    top: -19.5px;
    right: -19px;
}

#userIndicator span {
    padding-top: 5px;
}

#userIndicator button {
    position: absolute;
    right: 9px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 60%;
    font-family: roboto;
    width: 30%;
    background: white;
    font-weight: 500;
    z-index: 2;
}

#userIndicator td {
    display: flex;
}

#userIndicator button:hover {
    cursor: pointer;
    color: var(--main-gear-deactive-color);
}

#loginPanel {
    position: absolute;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 5px 10px rgba(136, 136, 136, 0.69);
    width: 30%;
    height: 180px;
    left: 25%;
    top: 15%;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

#loginPanel table {
    width: 100%;
    height: 100%;
    text-align: center;
}

#loginPanel table td {
    padding-bottom: 10px;
}

#loginPanel tr td:first-child {
    width: 35px;
    height: 35px;
}

#loginPanel .iconHolder {
    background: white;
    padding-top: 9px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 100%;
}

#loginPanel input {
    width: 100%;
    height: 35px;
}

#loginPanel button {
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: roboto;
    background: white;
    font-weight: 500;
    height: 30px;
    width: 100%;
}

#loginPanel button:hover {
    cursor: pointer;
    color: var(--main-gear-deactive-color);
}

#loginBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
}

#loginError {
    color: white;
    font-size: smaller;
}

#admin {
    visibility: collapse;
}

.setting:hover {
    cursor: pointer;
}

#administrationTab {
    position: absolute;
    width: 70%;
    height: 300px;
    background: rgba(235, 238, 235, 0.92);
    left: 15%;
    top: 80px;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
}

#btnAdministrationTabHide {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    background: none;
    color: black;
    font-size: larger;
}

#btnAdministrationTabHide:hover {
    cursor: pointer;
}

#administrationTab button {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

#itemDetailScreen {
    position: absolute;
    width: 30%;
    min-height: 250px;
    background: white;
    border: 2px solid gray;
    border-radius: 5px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
    top: 20px;
    padding: 10px;
    box-sizing: border-box;
}

#itemDetailScreenBackScreen {
    position: absolute;
    width: 100%;
    height: 725px;
    background: none;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

#itemDetailSpecMinimum {
    position: absolute;
}

#itemDetailSpecRecommend {
    position: absolute;
    visibility: hidden;
}

#itemDetailImgHolder {
    width: 40%;
    float: left;
    height: 100px;
    text-align: center;
}

#btnItemDetailScreenHide {
    position: absolute;
}

.itemDetailBasic {
    float: left;
    width: 60%;
    height: 50px;
}

#itemDetailSpecSwitchHolder {
    width: 100%;
    float: left;
}

#itemDetailSpecHolder {
    width: 100%;
    height: 150px;
    float: left;
}

#itemDetailTagHolder {
    width: 100%;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#itemDetailTagHolder .itemTag {
    background-color: var(--main-game-color);
    color: white;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
}